
name: MyFirstWorkflow

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  MyFirstJob:
    runs-on: ubuntu-latest
    steps:
      - name: Greetings
        run: echo "Hello World"

     

      
    
